@{
	ViewData["Title"] = "Home Page";
}

<br />
<h3 class="text-primary">AppName: @ViewBag.AppName</h3>
<h3 class="text-secondary">Environment: @ViewBag.Environment</h3>
<h3 class="text-danger">Version: @ViewBag.Version</h3>
<h3 class="text-dark">Version: @ViewBag.Secret</h3>
<h3 class="text-success">Version: @ViewBag.HostingEnvironment</h3>